<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <form action="result" method="post" name="login">
      <p>
          Escribe un nombre, apellido o empresa.<br>Las mayúsculas, tildes y la puntuación serán normalizadas<br>
          <input type="text" name="whereData">
      </p>
      <p><input type="submit" value="Buscar"></p>
  </form>

{% if where_data %}
    {% for dataset in where_data['rows'] %}
        {% for field in dataset['f'] %}
            {{ field['v'] }}
            <br>
        {% endfor %}
    <br>
    <hr>
    {% endfor %}
{% endif %}

{% endblock %}

